.login {
    padding: 1em 2em;
    background-color: var(--background-color);
    border-radius: 0.5em;
    margin: 2em 4em;
}

.login-page {}

.login h1 {
    color: var(--primary-color);
}

.login form {
    display: flex;
    flex-direction: column;
}

.login-container {
    display: flex;
    justify-content: center;
}

.login-bg {
    position: relative;
    background-image: url('../../../assets/images/login-container.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-x: hidden;
    border-radius: 0.8em;
    margin-left: 3em;
}

.login-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.login-container .logos {
    display: flex;
    align-items: center;
    gap: 1em;
}

.login-container .logo {
    height: 140px;
}

.login-container .logo-text {
    height: 60px;
}

.login-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: space-around;
}