files:
  "/etc/nginx/conf.d/react-app.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name archiport.ap-south-1.elasticbeanstalk.com;

        location / {
            root /var/app/current/build;
            index index.html;
            try_files $uri /index.html;
        }
      }
