.text-capitalize {
    text-transform: capitalize;
}

.link {
    color: var(--mint-green);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.link-red {
    color: var(--primary-color);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}


/* Header Styles */

h1 {
    font-size: var(--h1-size);
    margin-top: 0;
}

h2 {
    font-size: var(--h2-size);
    margin-top: 0;
}

h3 {
    font-size: var(--h3-size);
    margin-top: 0;
}

h4 {
    font-size: var(--h4-size);
    margin-top: 0;
}

h5 {
    font-size: var(--h5-size);
    margin: 0.75em 0em;
}

h6 {
    font-size: var(--h6-size);
    margin: 0.75em 0em;
}

.mb-0 {
    margin-bottom: 0;
}

.fbold {
    font-weight: bold;
}

input {
    width: -webkit-fill-available;
    padding: 10px 20px;
    border: 1px solid var(--border-light);
    border-radius: 0.25em;
    font-size: var(--font-size-base);
    margin-bottom: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    outline: none;
}

input:disabled {
    background-color: var(--secondary-color);
    border-color: #ccc;
    color: #999;
    cursor: not-allowed;
}


.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-content {
    margin-top: 100px;
}

.w-100 {
    width: 100%;
}


/* Media Queries */

@media (max-width: 480px) {
    :root {
        --font-size-xxsm: 0.4375rem;
        --font-size-xsm: 0.5625rem;
        --font-size-sm: 0.6875rem;
        --font-size-base: 0.8125rem;
        --font-size-lg: 0.9375rem;
        --font-size-xl: 1.125rem;
        --font-size-xxl: 1.375rem;
        --font-size-xxxl: 1.425rem;
        --h1-size: 1.25rem;
        --h2-size: 1.125rem;
        --h3-size: 1rem;
        --h4-size: 0.875rem;
        --h5-size: 0.75rem;
        --h6-size: 0.625rem;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    :root {
        --font-size-xxsm: 0.5rem;
        --font-size-xsm: 0.625rem;
        --font-size-sm: 0.75rem;
        --font-size-base: 0.875rem;
        --font-size-lg: 1rem;
        --font-size-xl: 1.25rem;
        --font-size-xxl: 1.5rem;
        --font-size-xxxl: 1.75rem;
        --h1-size: 1.5rem;
        --h2-size: 1.375rem;
        --h3-size: 1.25rem;
        --h4-size: 1.125rem;
        --h5-size: 1rem;
        --h6-size: 0.875rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --font-size-xxsm: 0.5625rem;
        --font-size-xsm: 0.6875rem;
        --font-size-sm: 0.8125rem;
        --font-size-base: 0.9375rem;
        --font-size-lg: 1.125rem;
        --font-size-xl: 1.375rem;
        --font-size-xxl: 1.75rem;
        --font-size-xxxl: 2rem;
        --h1-size: 1.5rem;
        --h2-size: 1.375rem;
        --h3-size: 1.25rem;
        --h4-size: 1.125rem;
        --h5-size: 1rem;
        --h6-size: 0.875rem;
    }
}

@media (min-width: 1024px) {
    :root {
        --font-size-xxsm: 0.625rem;
        --font-size-xsm: 0.75rem;
        --font-size-sm: 0.875rem;
        --font-size-base: 1rem;
        --font-size-lg: 1.25rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 2rem;
        --font-size-xxxl: 2.5rem;
        --h1-size: 2rem;
        --h2-size: 1.75rem;
        --h3-size: 1.5rem;
        --h4-size: 1.25rem;
        --h5-size: 1rem;
        --h6-size: 0.875rem;
    }
}