.like-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-light);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.like-button-container:hover, .like-button-container:hover .like-button svg {
    border-color: var(--primary-color-hover);
    color: var(--primary-color-hover);
}

.like-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 10px;
    font-size: var(--font-size-sm);
    border-right: 1px solid var(--border-light);
}

.like-button svg {
    font-size: var(--font-size-sm);
    transition: all 0.2s ease;
}

.like-button:hover {
    opacity: 0.8;
}

.like-button span {
    color: var(--text-dark);
}

.like-count {
    font-size: var(--font-size-sm);
    padding: 0px 12px;
}