.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0em 2em;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 6px var(--box-shadow);
    position: fixed;
    width: -webkit-fill-available;
    z-index: 100;
    top: 0;
}

.navbar-brand a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar-links a {
    color: var(--secondary-color-2);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.navbar-links a:hover {
    opacity: 0.5;
}

.profile-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}