.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffde;
    padding: 0em 2em;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 6px var(--box-shadow);
    position: fixed;
    width: -webkit-fill-available;
    z-index: 100;
    top: 0;
}

.navbar-brand a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 2em;
}

.navbar-links a {
    color: var(--secondary-color-2);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.navbar-links a:hover {
    opacity: 0.5;
}

.profile-button {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Hide the links and show the hamburger menu on mobile view */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

/* Hide navbar links in mobile view */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        padding: 0em 0.5em;
    }

}

/* Show navbar links when the mobile menu is open */
.navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--primary-color);
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 2px 6px var(--box-shadow);
}